{% extends "base.html" %}

{% block title %}Note Detail{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h1 class="card-title">{{ note.title }}</h1>
            <p class="card-text">{{ note.text }}</p>
        </div>
    </div>
</div>

<a href="{% url 'notes.list' %}" class="btn btn-secondary my-5">Back</a>
<a href="{%  url 'notes.update' pk=note.id %}" class="btn btn-secondary">Edit</a>
<a href="{%  url 'notes.delete' pk=note.id %}" class="btn btn-danger">Delete</a>
{% endblock %}